.navbar {
    background-color: #2C3F47;
    height: 70px;
    color: white;
    padding-left: 50px;
    padding-right: 60px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar ul li {
    float: left;
  }
  
  .navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 40px 16px 40px;
    text-decoration: none;
  }